@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9667 0.0017 247.8394);
  --foreground: oklch(0.1769 0.0026 247.9754);
  --card: oklch(0.9667 0.0017 247.8394);
  --card-foreground: oklch(0.1769 0.0026 247.9754);
  --popover: oklch(0.9667 0.0017 247.8394);
  --popover-foreground: oklch(0.1769 0.0026 247.9754);
  --primary: oklch(0.3081 0.0636 242.1203);
  --primary-foreground: oklch(0.9667 0.0017 247.8394);
  --secondary: oklch(0.3193 0.1294 24.7997);
  --secondary-foreground: oklch(0.9667 0.0017 247.8394);
  --muted: oklch(0.9451 0.0034 247.8595);
  --muted-foreground: oklch(0.4437 0.0083 248.0156);
  --accent: oklch(0.7813 0.0252 199.848);
  --accent-foreground: oklch(0.1769 0.0026 247.9754);
  --destructive: oklch(0.3193 0.1294 24.7997);
  --destructive-foreground: oklch(0.9667 0.0017 247.8394);
  --border: oklch(0.8831 0.006 239.8297);
  --input: oklch(0.8831 0.006 239.8297);
  --ring: oklch(0.7813 0.0252 199.848);
  --chart-1: oklch(0.7813 0.0252 199.848);
  --chart-2: oklch(0.3081 0.0636 242.1203);
  --chart-3: oklch(0.8301 0.1097 66.2079);
  --chart-4: oklch(0.3193 0.1294 24.7997);
  --chart-5: oklch(0.2548 0.0634 22.6606);
  --sidebar: oklch(0.9667 0.0017 247.8394);
  --sidebar-foreground: oklch(0.1769 0.0026 247.9754);
  --sidebar-primary: oklch(0.3081 0.0636 242.1203);
  --sidebar-primary-foreground: oklch(0.9667 0.0017 247.8394);
  --sidebar-accent: oklch(0.7813 0.0252 199.848);
  --sidebar-accent-foreground: oklch(0.1769 0.0026 247.9754);
  --sidebar-border: oklch(0.8831 0.006 239.8297);
  --sidebar-ring: oklch(0.8301 0.1097 66.2079);
  --font-sans: "Helvetica Neue", "Arial", sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 4px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.06;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 4px 4px -1px hsl(0 0% 0% / 0.06), 0px 1px 2px -2px hsl(0 0% 0% / 0.06);
  --shadow:
    0px 4px 4px -1px hsl(0 0% 0% / 0.06), 0px 1px 2px -2px hsl(0 0% 0% / 0.06);
  --shadow-md:
    0px 4px 4px -1px hsl(0 0% 0% / 0.06), 0px 2px 4px -2px hsl(0 0% 0% / 0.06);
  --shadow-lg:
    0px 4px 4px -1px hsl(0 0% 0% / 0.06), 0px 4px 6px -2px hsl(0 0% 0% / 0.06);
  --shadow-xl:
    0px 4px 4px -1px hsl(0 0% 0% / 0.06), 0px 8px 10px -2px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 0px 4px 4px -1px hsl(0 0% 0% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1769 0.0026 247.9754);
  --foreground: oklch(0.9667 0.0017 247.8394);
  --card: oklch(0.1769 0.0026 247.9754);
  --card-foreground: oklch(0.9667 0.0017 247.8394);
  --popover: oklch(0.1769 0.0026 247.9754);
  --popover-foreground: oklch(0.9667 0.0017 247.8394);
  --primary: oklch(0.7813 0.0252 199.848);
  --primary-foreground: oklch(0.1769 0.0026 247.9754);
  --secondary: oklch(0.8301 0.1097 66.2079);
  --secondary-foreground: oklch(0.1769 0.0026 247.9754);
  --muted: oklch(0.2919 0.0046 247.9859);
  --muted-foreground: oklch(0.5425 0.0099 248.0103);
  --accent: oklch(0.3081 0.0636 242.1203);
  --accent-foreground: oklch(0.9667 0.0017 247.8394);
  --destructive: oklch(0.479 0.1942 24.9282);
  --destructive-foreground: oklch(0.9585 0.0207 13.855);
  --border: oklch(0.2919 0.0046 247.9859);
  --input: oklch(0.2919 0.0046 247.9859);
  --ring: oklch(0.8301 0.1097 66.2079);
  --chart-1: oklch(0.7813 0.0252 199.848);
  --chart-2: oklch(0.3081 0.0636 242.1203);
  --chart-3: oklch(0.8301 0.1097 66.2079);
  --chart-4: oklch(0.3193 0.1294 24.7997);
  --chart-5: oklch(0.2548 0.0634 22.6606);
  --sidebar: oklch(0.1769 0.0026 247.9754);
  --sidebar-foreground: oklch(0.9667 0.0017 247.8394);
  --sidebar-primary: oklch(0.7813 0.0252 199.848);
  --sidebar-primary-foreground: oklch(0.1769 0.0026 247.9754);
  --sidebar-accent: oklch(0.3081 0.0636 242.1203);
  --sidebar-accent-foreground: oklch(0.9667 0.0017 247.8394);
  --sidebar-border: oklch(0.2337 0.0049 248.0372);
  --sidebar-ring: oklch(0.8301 0.1097 66.2079);
  --font-sans: "Helvetica Neue", "Arial", sans-serif;
  --font-serif: "Georgia", serif;
  --font-mono: "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 4px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.06;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 6px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-sm:
    0px 6px 4px -1px hsl(0 0% 0% / 0.06), 0px 1px 2px -2px hsl(0 0% 0% / 0.06);
  --shadow:
    0px 6px 4px -1px hsl(0 0% 0% / 0.06), 0px 1px 2px -2px hsl(0 0% 0% / 0.06);
  --shadow-md:
    0px 6px 4px -1px hsl(0 0% 0% / 0.06), 0px 2px 4px -2px hsl(0 0% 0% / 0.06);
  --shadow-lg:
    0px 6px 4px -1px hsl(0 0% 0% / 0.06), 0px 4px 6px -2px hsl(0 0% 0% / 0.06);
  --shadow-xl:
    0px 6px 4px -1px hsl(0 0% 0% / 0.06), 0px 8px 10px -2px hsl(0 0% 0% / 0.06);
  --shadow-2xl: 0px 6px 4px -1px hsl(0 0% 0% / 0.15);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:hover {
    cursor: pointer;
  }
}
/*
  ---break---
*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
